<div class="card">
  <div class="card-header">
    <h3>Sign Up</h3>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <h4 for="username-input-signup">Username</h4>
        <input type="text" id="username-input-signup" />
      </div>
      <div>
        <h4 for="email-input-signup">Email</h4>
        <input type="text" id="email-input-signup" />
      </div>
      <div>
        <h4 for="password-input-signup">Password</h4>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn"style="margin-bottom:15px" >Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>